//theme standart point
$standartPoint: 8px;

//default font-size
$defaulitFontColor: #34495e;
$defaultFontSize: $standartPoint * 2;
$titleFontSize: $standartPoint * 3;
$defaultLineHeight: $standartPoint;

//theme standart margin
$defaultMarginTopBottom: $standartPoint;
$defaultMarginLeftRight: $standartPoint;

//theme standart padding
$defaultPaddingTopBottom: $standartPoint;
$defaultPaddingLeftRight: $standartPoint;